body {
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background-color: #D6E4E5;
    font-family: Arial, serif;
    margin: auto;
}

h1 {
    font-family: 'Bree Serif Regular', serif;
    margin: 0 auto 0 auto;
    text-align: left;
}

h3 {
    color: #1CD6CE;
    font-family: 'Montserrat Light', sans-serif;
    margin: 20px auto 0 auto;
}

/*Navbar*/
li {
    float: right;
    padding-right: 8%;
}

li a {
    color: white;
    display: block;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: #FEDB39;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 5%;
    width: 100%;

}

/*End of Navbar*/

/* Top Contents*/
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes greeting {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
}

.greet {
    animation-duration: 4s;
    animation-name: greeting;
    font-size: 10.5rem;
    padding-left: 57%;
    position: relative;
}

.icon {
    background-color: #D61C4E;
    border-radius: 5px;
    color: #D61C4E;
    height: 50px;
    margin: 10px 0 auto 160%;
    width: 50px;
}

.pfpKo {
    bottom: 600px;
    height: 900px;
    position: relative;
    transform: scaleX(-1);
    width: 900px;

}

.topContainer {
    background-color: #293462;
    background-image: linear-gradient(35.6deg, rgba(214, 28, 78, 0.8), #293462 35%);
    color: #1CD6CE;
    font-family: sans-serif;
    padding-bottom: 20%;
    padding-top: 15%;
    position: relative;
}

.topContents {
    color: white;
}

/* End of Top Contents*/

/*Middle Contents*/
.aboutDescription {
    color: white;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 2rem;
    padding-top: 3px;
}

.buttonProj {

    height: 100px;
    margin-left: 12%;
    width: 650px;
}

.buttonProj a {
    text-decoration: none;
}

.buttonText {
    background-color: #1CD6CE;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 28px;
    padding-right: 23%;
    padding-top: 5%;
    text-align: center;

}

.middleContainer {
    background-color: #293462;
    background-image: linear-gradient(-35.6deg, rgba(255, 144, 33, 0.8), #D61C4E 35%);
    color: #1CD6CE;
    font-family: sans-serif;
    padding-bottom: 20%;
    padding-top: 15%;
    position: relative;
}

.middleContents {
    color: white;
}

/*END OF ABOUT SECTION*/

/*PROJECT SECTION*/
.projectContainer {
    background-color: #293462;
    background-image: linear-gradient(35.6deg, rgba(85, 255, 153, 0.8), #1CD6CE 35%);
    color: #1CD6CE;
    font-family: sans-serif;
    padding-bottom: 20%;
    padding-top: 15%;
    position: relative;
}

.projectContents {
    color: white;
}

/*END OF PROJECT SECTION*/
